/* Styling for Background Image, logo and login*/

  
.outer_container {
    display: flex;
    flex-grow: 1;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.img {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;   
}

.inner_container {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 4%;
  margin-bottom: 5%;
  position: absolute;
  width: auto;
  background-color: white;
  /* height: 950px; */
}

/* .row {
  margin-left: 250px;
  margin-right: 250px;
  width: 100%;
} */

#logo {
  padding-top: 25px;
}
  
  /* head nav*/
  
  .vertline1 {
    float: left;
    margin-top: 16px;
    margin-left: 300px;
    color: gray;
  }
  
  .vertline2 {
    float: left;
    margin-top: 16px;
    margin-left: 220px;
    color: gray;
  }
  
  .vertline3 {
    float: left;
    margin-top: 16px;
    margin-left: 250px;
    color: gray;
  }
  
  .vertline4 {
    float: left;
    margin-top: 16px;
    margin-left: 260px;
    color: gray;
  }
  
  #topnav {
    position: absolute;
    margin-left: 40px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: left;
  }

  #topnav > ul {
    margin-left: 50px;
    padding: 0;
  }
  #topnav > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    float: left;
  }
  #topnav ul > li > a {
    list-style-type: none;
    text-decoration: none;
    padding: 16px 60px;  
    display: block;
    color: black;
    text-align: center;
  }
  .line-1{
    width: 92%;
    border: 0;
    border-bottom: 2px solid black;
    padding-top: 10px;/* changed from padding-bottom 1px*/
    margin-left: 50px;
  }
  
  .line-2{
    margin-left: 50px;
    width: 92%;
    border: 0;
    border-bottom: 2px solid black;
    padding-bottom: 35px;
  }
  #image {
      padding-left: 50px;
  }

/* .col-md-10 {
    margin-top: 5%;
}

.col-md-2 {
    margin-top: 0%;
}
   */
  .button {
      border: none;
      border-radius: 5px;
      background-color: rgb(197, 197, 197);
      color: white;
      width: 65px;
      height: 35px;
  }

  body {
    font-family: "Lucida Sans reg", sans-serif;
    /* height: 1150px; */
  }
  
  /* The sidebar menu */
  
  .sidebar {
      margin-top: 10px;
      padding: 20px;
      width: 250px;
      height: 585px;
      z-index: 1;
      color: #eee;
      background: #AD0000;
      background: -moz-linear-gradient(top, #AD0000 0%, #6E0000 100%);
      background: -webkit-linear-gradient(top, #AD0000 0%, #6E0000 100%);
      background: linear-gradient(to bottom, #AD0000 0%, #6E0000 100%);
      overflow-x: hidden;
  }
  
  /*SB Title and Text*/
    .sidebar h3{
        text-align: left;
        margin: 0px;
        margin-bottom: 2px;
        color: #eee;
        font-size: 18px;    
    }
  
  #sb_text {
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
    margin-left: 5px;
    font-size: 12px;
  }
    
  /*SB Title Line*/
    .sidebar h6{
      color: #eee;
      border-bottom: 2px solid #eee;
  }
  
  /*Category*/
    /* .h5{
      padding: 0px 0px 0px 20px;
      margin-bottom: 1px;
      font-size: 12px;
      color: #eee;
      text-align: center;
    } */
  
  /*Link*/
    .sidebar > a {
      text-indent: 40px;
      text-decoration: none;
      margin-bottom: 25px;
      font-size: 12px;
      color: #eee;
      display: block;
    }
    
    .sidebar a:hover {
      color: #ffd23d;
    }
  
    /* .main {
      margin-left: 150px; 
      font-size: 28px; 
      padding: 0px 10px;
    } */
  
  /*forward-thinking image*/
  .forward_thinking{
      margin-top: 10px;
      padding-left: 50px;
      padding-right: 10px;
      width: 100%;
  
  }
  
  .who_we_are{
      vertical-align: top;
      
  }
  .who_we_are_header{
      padding-top: 10px;
      font-weight: bold;
      color: black; 
      padding-left: 50px;
      font-size: 12px;
      
  }
  .who_we_are_text{
      color: black;
      font-size: 12px;
      line-height: 1.5;
      padding-left: 50px;
      width: 75%;
  }
  
  .who_we_are_header2{
      font-weight: bold;
      color: black; 
      width: 260px;
      font-size: 12px;
      padding-top: 20px;
  
    }
  .who_we_are_text2{
          white-space: pre-line;
          color: black;
          width: 260px;
          font-size: 12px;
      }
  
  .contact_info{
      position: relative;
  }

  .text-uppercase{
      font-size: 10px;
      color: black;
      text-decoration: none;
  }
  
  /* Footer */

.fnav-link > a {
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.footer-line {
  display: block;
  border-top: 2px solid rgb(206, 206, 206);
  content: "";
  /* margin-right: 50px; */
  position: absolute;
  z-index: 0;
  width: 50%;
  
  /* margin-left: 50px;  */
}

#fnav-link{
  margin-left: 0px;
  text-align: center;
  margin-top: 0px;
  width: 100%; 
  border-top:1px solid black;
  color: black;
  padding-top: 0px;
}

#who {
  background-color: white;
  z-index: 1;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 50
} 

#what {
  background-color: white;
  z-index: 1;
  width: 150px;
  margin-right: 20px;
  padding-right: 50
} 

#news {
  background-color: white;
  z-index: 1;
  width: 175px;
  margin-right: 20px;
  padding-right: 50
} 

#where {
  background-color: white;
  z-index: 1;
  width: 175px;
  margin-right: 20px;
  padding-right: 50
} 

#contact {
  background-color: white;
  z-index: 1;
  width: 150px;
  margin-right: 20px;
  padding-right: 50
} 